/*
This file uses the library "Blockly" developed by Google
More detials can be found on "LiteForge-Evo/Third-party libraries/Blocky LICENSE"
*/

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #252525;
    overflow: hidden;
}

.gameCanvas {
    background-color: #b6b6b6;
    width: 550px;
    height: 550px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

@media (max-width: 768px) {
    .gameCanvas {
        background-color: #b6b6b6;
        width: 550px;
        height: 550px;
        position: absolute;
        top: 25%;
        left: 20vw;
        transform: translate(-50%, -50%);
        border: 5px solid black;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        transform-origin: top left;
        transform: scale(0.8);
    }
    }

@media (max-width: 480px) {
.gameCanvas {
    background-color: #b6b6b6;
    width: 550px;
    height: 550px;
    position: absolute;
    top: 25%;
    left: 7vw;
    transform: translate(-50%, -50%);
    border: 5px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transform-origin: top left;
    transform: scale(0.6);
}
}

.draggable {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
    position: absolute;
    cursor: move;
}

.banner {
    height: 60px;
    width: 100%;
    background: linear-gradient(135deg, #333333, #444444);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #222222;
    backdrop-filter: blur(8px);
    color: #ffffff;
}

.banner::after {
    content: '';
    display: block;
    height: 4px;
    width: 100%;
    background: linear-gradient(90deg, #8b8a8d, #587681);
    position: absolute;
    bottom: 0;
    left: 0;
}

.toggleObject {
    height: 30px;
    width: 30px;
    position: relative;
    left: 97%;
    background-color: #666666;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.toggleObject::before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #8000ff;
    border-radius: 50%;
}

#toggleObjectpanel:checked + .banner .toggleObject {
    background-color: #530041;
}

.slide {
    height: calc(100% - 60px);
    width: 300px;
    position: fixed;
    right: -300px; /* Adjust based on the width of the slide */
    top: 60px;
    background-color: #333333;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    overflow-y: auto;
}
.slide #NewObjectButton {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 40px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: calc(100% - 20px);
}

.slide #NewObjectButton:hover {
    background-color: #8000ff;
}

.resizer {
    width: 8px;
    height: 100%;
    top: 0;
    left: -8px;
    cursor: ew-resize;
    position: absolute;
    background: linear-gradient(90deg, #625a72, #666666);
    z-index: 2;
}

#toggleObjectpanel:checked ~ .slide {
    transform: translateX(-300px);
    opacity: 1;
    visibility: visible;
}

#toggleObjectpanel:not(:checked) ~ .slide {
    transform: translateX(0);
    opacity: 0;
    visibility: hidden;
}

h2 {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
}

img:focus {
    outline: #ff0000;
}

img {
    display: block;
    border: none;
}

.rectangle-box {
    position: relative;
    border: 2px solid #000;
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 20px);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f97c4;
    position: relative;
    left: 10px;
}

.rectangle-box span {
    position: absolute;
    bottom: 5px;
    left: 5px;
    font-size: 12px;
    color: #333;
}

.rectangle-box .delete-button {
    position: absolute;
    font-size: 25px;
    bottom: 0px;
    left: 90%;
    cursor: pointer;
    color: #810000d0;
}

#layout-1, #layout-2, #layout-3 #SceneEditorButton:hover {
    background-color: #1a1a1a;
}

/* Style for PreviewGameButton */
#layout-1 #PreviewGameButton,
#layout-2 #PreviewGameButton,
#layout-3 #PreviewGameButton {
    position: relative;
    font-size: 20px;
    height: 30px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 30px;
    z-index: 4000;
}

#layout-1 #PreviewGameButton {
    left: 253px; /* Adjust as needed */
}

#layout-2 #PreviewGameButton {
    left: 283px; /* Adjust as needed */
}

#layout-3 #PreviewGameButton {
    left: 283px; /* Adjust as needed */
}

#layout-1 #PreviewGameButton:hover,
#layout-2 #PreviewGameButton:hover,
#layout-3 #PreviewGameButton:hover {
    background-color: #f77f7f75;
}

/* Style for Scene Editor */
#layout-1 #SceneEditorButton,
#layout-2 #SceneEditorButton,
#layout-3 #SceneEditorButton {
    position: relative;
    height: 30px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 80px;
    z-index: 4;
}

#layout-1 #SceneEditorButton {
    left: -38px; /* Adjust as needed */
}

#layout-2 #SceneEditorButton {
    left: -88px; /* Adjust as needed */
}

#layout-3 #SceneEditorButton {
    left: -88px; /* Adjust as needed */
}

#layout-1 #SceneEditorButton:hover,
#layout-2 #SceneEditorButton:hover,
#layout-3 #SceneEditorButton:hover {
    background-color: #1a1a1a;
}

/* Style for Script Editor */
#layout-1 #ScriptEditorButton,
#layout-2 #ScriptEditorButton,
#layout-3 #ScriptEditorButton {
    position: relative;
    height: 30px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 80px;
    z-index: 4;
}

#layout-1 #ScriptEditorButton {
    left: -31px; /* Adjust as needed */
}

#layout-2 #ScriptEditorButton {
    left: 79px; /* Adjust as needed */
}

#layout-3 #ScriptEditorButton {
    left: 79px; /* Adjust as needed */
}

#layout-1 #ScriptEditorButton:hover,
#layout-2 #ScriptEditorButton:hover,
#layout-3 #ScriptEditorButton:hover {
    background-color: #1a1a1a;
}

/* Style for Visual Script Editor */
#layout-1 #VisualScriptEditorButton,
#layout-2 #VisualScriptEditorButton,
#layout-3 #VisualScriptEditorButton {
    position: relative;
    height: 30px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 80px;
    z-index: 4;
}

#layout-1 #VisualScriptEditorButton {
    left: -54px; /* Adjust as needed */
}

#layout-2 #VisualScriptEditorButton {
    left: -24px; /* Adjust as needed */
}

#layout-3 #VisualScriptEditorButton {
    left: -24px; /* Adjust as needed */
}

#layout-1 #VisualScriptEditorButton:hover,
#layout-2 #VisualScriptEditorButton:hover,
#layout-3 #VisualScriptEditorButton:hover {
    background-color: #1a1a1a;
}

/* Style for game Exporter */
#layout-1 #MenuButton,
#layout-2 #MenuButton,
#layout-3 #MenuButton {
    position: relative;
    height: 30px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 30px;
    font-size: larger;
    padding-bottom: 2px;
    z-index: 4;
}

#layout-1 #MenuButton {
    left: -235px; /* Adjust as needed */
}

#layout-2 #MenuButton {
    left: -205px; /* Adjust as needed */
}

#layout-3 #MenuButton {
    left: -205px; /* Adjust as needed */
}

#layout-1 #MenuButton:hover,
#layout-2 #MenuButton:hover,
#layout-3 #MenuButton:hover {
    background-color: #9959be;
}

#SpriteEditButton {
    position: relative;
    height: 30px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 30px;
    font-size: larger;
    border-radius: 50%;
    padding-top: 2px;
    z-index: 4;
    left: 20px;
    bottom: 49.5px;
}

#SpriteEditButton:hover {
    background-color: #1a1a1a;
}

.menuSlide {
    height: calc(100% - 60px);
    width: 300px;
    position: fixed;
    top: 60px;
    background-color: #333333;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    transform: translateX(-300px);
}

/* Buttons */
.menuSlide button{
    height: 30px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    cursor: pointer;
    height: 30px;
    z-index: 4;
    font-size: 16px;
}

.menuSlide #MenuExportButton:hover {
    background-color: #9959be;
}

.menuSlide #MenuImportButton:hover {
    background-color: #9959be;
}

.menuSlide #MenuEngineQuitButton:hover {
    background-color: #be5959;
}

/* Export panel */
.ExportingTheGame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 400px;
    background-color: #73ad8b;
    z-index: 6;
    display: flex; 
    align-items: center;
    justify-content: center; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 20px; /* Padding inside the box */
    text-align: center;
}

.ExportingTheGame #ExportToHTMLButton{
    position: absolute;
    bottom: 20%;
    right: 12%;
    height: 40px;
    width: 120px;
    cursor: pointer;
    background-color: #666666;
    border: #507552;
    color: #fff;
}

.ExportingTheGame #ExportToPCButton{
    position: absolute;
    bottom: 20%;
    left: 12%;
    height: 40px;
    width: 120px;
    cursor: pointer;
    background-color: #666666;
    border: #507552;
    color: #fff;
}

.ExportingTheGame #ExportToPCButton:hover{
    background-color: #9959be;
}

.ExportingTheGame #ExportToHTMLButton:hover{
    background-color: #9959be;
}

/* CodeMirror Styles */
.CodeMirror {
    border: 1px solid #ddd;
    height: 500px; /* Ensure it takes the full height of its parent */
    width: 100%; /* Ensure it takes the full width of its parent */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout 2 Styles */
#layout-2 .editor {
    position: absolute;
    top: 10%; /* Adjust as needed to give more vertical space */
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}

#layout-2 .code {
    flex-grow: 1; /* Allow the code section to grow and take available space */
    display: flex;
}

#layout-2 .editor-container {
    flex-grow: 1; /* Ensure the editor container stretches to fill the height */
    height: 800px; /* Make sure it takes full height */
}

#layout-3 .banner {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Add background color to the banner */
    z-index: 1000; /* Ensure the banner is on top */
}

#layout-3 {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

#blocklyDiv {
    height: 92%;
    width: 100%; 
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    line-height: 1.2;
    top: 60px;
    bottom: 60px;
    z-index: 100;
}

#EditSprites {
    height: 100vh;
    width: 30%;
    background: linear-gradient(135deg, #2a2d30, #3d4044);
    position: fixed;
    z-index: 3;
    padding: 20px;
    top: 8%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    border-bottom: 1px solid #2c3e50;
    backdrop-filter: blur(10px);
    color: #ecf0f1;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    text-align: center;
}

#EditSprites h2 {
    margin: 0;
    padding-bottom: 20px;
    color: #ecf0f1;
}

#selectedSpriteShower {
    margin-bottom: 20px;
    font-weight: bold;
}

#EditSprites p {
    margin: 5px 0; 
}


#EditSprites input[type="number"] {
    width: 120px;
    padding: 8px;
    border: 1px solid #34495e;
    border-radius: 4px;
    background: #ecf0f1;
    color: #2c3e50;
    font-size: 14px;
}

#EditSprites button {
    width: 50px;
    height: 30px;
    margin: 0.1px;
    border: none;
    border-radius: 4px;
    background: #3498db;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

#EditSprites button:hover {
    background: #2980b9;
}

.NewObjectPanel {
    display: none;
    height: calc(100% + 1%);
    width: 100vw;
    background: linear-gradient(135deg, #2a2d30, #3d4044);
    position: fixed;
    z-index: 3000;
    padding: 20px;
    top: -1%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    border-bottom: 1px solid #2c3e50;
    backdrop-filter: blur(10px);
    color: #ecf0f1;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

.NewObjectPanel #CloseCreateNewObjectPanel {
    text-align: center;
    position: sticky;
    top: 100%;
    left: calc(50vw - 50px);
    background: linear-gradient(135deg, rgb(50, 50, 50), rgb(90, 20, 90));
    border-radius: 6px;
    padding: 8px 16px; 
    color: #e0e0e0;
    font-size: 14px;
    font-weight: normal; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); 
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    width: 100px;
}

.NewObjectPanel #CloseCreateNewObjectPanel:active {
    background: linear-gradient(135deg, rgb(50, 50, 50), rgb(90, 20, 90)); 
    transform: scale(0.95);
}


.NewObjectPanel h2 {
    text-align: center; 
    position: relative; 
    font-family: 'Arial', sans-serif; 
    font-size: 28px; 
    font-style: oblique; 
    font-weight: bolder;
    color: #333; 
    background: linear-gradient(135deg, #b1b1b1, #ffffff); 
    background-clip: text; 
    font-style: bold;
    -webkit-text-fill-color: transparent; 
    margin: 20px 0; 
    padding: 10px 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.NewObjectPanel #NewSpriteButton {
    position: absolute;
    top: 18%;
    left: 6%;
    height: 40px;
    background-color: #666666;
    color: #ffffff;
    border: none;
    cursor: pointer;
    width: 200px;
}

.NewObjectPanel #NewSpriteButton:hover {
    background-color: #8000ff;
}